fastapi
uvicorn[standard]
SQLAlchemy>=2
asyncpg
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1.0
cryptography
pydantic
celery[redis]
redis
librouteros
paramiko
pyotp
python-dotenv
pydantic-settings
psycopg2-binary